<!DOCTYPE html>
<html>

{% set pageTitle = "Change Password" %}{% include "includes/header.html" %}

<body>

	<a class="nodecor" href="/admin">&#8592; Return to management panel</a>
	<h1>Change Password</h1>

	<form action="/admin/password/change" method="POST">

		<table class="invis-table">
			<tr>
				<td><label for="password-current" style="margin-right: 2em">Current Password</label></td>
				<td><input type="password" id="password-current" name="password-current"><br></td>
			</tr>
			<tr>
				<td><label for="password-new">New Password</label></td>
				<td><input type="password" id="password-new" name="password-new"><br></td>
			</tr>
			<tr>
				<td><label for="password-confirm">Confirm Password</label></td>
				<td><input type="password" id="password-confirm" name="password-confirm"><br></td>
			</tr>
		</table>

		<br>
		<input type="submit" value="Submit">

	</form>

	{% if failed %}
		<p style="color: red">Change failed. Please try again.</p>
	{% endif %}

</body>

</html>
