<head>
	<title>{{ pageTitle }}</title>

	<!-- Import Google Fonts: Alfa Slab One, Space Mono, Unbounded -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@500&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/static/png/favicon.png">
</head>
