<!DOCTYPE html>
<html>

{% set pageTitle = "Management Panel" %}{% include "includes/header.html" %}

<body>

	<a class="nodecor" href="/logout">&#8592; Logout</a>

	<div>
		<h1>Management Panel</h1>
		<p><b>Badger is in development. Do not delete events/codes after there are already attendances and redemptions. This will lead to unintended consequences. Make your events and codes before the event begins.</b></p>
		<ul>
			<li><a href="/admin/password/change">Change Password</a></li>
			<li><a href="/admin/announcements/manage">Manage Announcements</a></li>
			<li><a href="/admin/events/manage">Manage Events</a></li>
			<li><a href="/admin/codes">Manage Codes</a></li>
			<li><a href="/admin/stamps">Manage Stamps</a></li>
			<li><a href="/admin/rewards">Manage Rewards</a></li>
			<li>Manage Badgers</li>
			<li><a href="/admin/users">Manage Users</a></li>
		</ul>
	</div>

</body>

</html>
