<!DOCTYPE html>
<html>

<head>
	<title>Badger</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/static/png/favicon.png">
</head>

<body>

	<a href="/logout">&#8592; Logout</a>

	<div id="panel">
		<h1>Management Panel</h1>
		<ul>
			<li><a href="/admin/change-password">Change Password</a></li>
			<li>Manage Announcements</li>
			<li>Manage Events</li>
			<li>Manage Badgers</li>
			<li><a href="/admin/users">Manage Users</a></li>
		</ul>
	</div>

</body>
