<!DOCTYPE html>
<html>

{% set pageTitle = "Manage Stamps" %}{% include "includes/header.html" %}

<body>

	<script src="/static/js/jquery-3.6.0.min.js" defer></script>
	<script src="/static/js/manage-stamps.js" defer></script>

	<a class="nodecor" href="/admin">&#8592; Return to management panel</a>
	<h1>Manage Stamps</h1>

	<div id="create-stamp">
		<h3>Create a New Stamp</h3>
		<form id="stamp-create-form">
			<label for="stamp">Name:</label>
			<input type="text" id="stamp" name="stamp">
			<input type="submit" value="Create">
			<span id="form-response" style="padding-left: 1em"></span>
		</form>
	</div>

	<div id="stamps-table">
		<h3>All Stamps</h3>
		<table id="stamps-table-data" style="width: 100%"></table>
	</div>

</body>

</html>
