<!DOCTYPE html>
<html>

{% set pageTitle = "Manage Users" %}{% include "includes/header.html" %}

<body>

	<a class="nodecor" href="/admin">&#8592; Return to management panel</a>
	<h1>Manage Users</h1>

	<div>
		<h3>Create a New User</h3>
		<form id="create-form">
			<label for="uid">UID:</label>
			<input type="text" id="uid" name="uid">
			<input type="submit" value="Create">
			<span id="form-response" style="padding-left: 1em"></span>
		</form>
	</div>

	<div>
		<h3>All Users</h3>
		<table id="table-data" style="width: 100%"></table>
	</div>

	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/users/manage.js"></script>

</body>

</html>
