:root {
	--main-color:       #FFFFFF;
	--accent-color:     #C789BF;
	--background-color: #1F1329;
	--text-color:       #696969;
}

body {
	margin: 5% 20% 10% 20%;
	font-family: 'Space Mono', monospace;

	background-color: var(--background-color);
	color: white;
}

h1, h2, h3 {
	color: var(--main-color);
	margin: 0;
}

a {
	color: var(--accent-color);
}

table, th, td {
	border: none;
	border-collapse: collapse;
}

th, td {
	padding-left: 1em;
	padding-right: 1em;
}

hr {
	border: 1px solid #7C5C8D;
}

.main-container {
	padding: 0vh 0vw 2vh 0vw;
	background: linear-gradient(152.52deg, #423245 7.97%, #5C4175 105.87%);
	border-radius: 50px;
}

.container-module {
	padding: 5vh 0vw 2vh 0vw;
	background: linear-gradient(152.52deg, #423245 7.97%, #5C4175 105.87%);
	filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.3));

	border-top: 2px dashed #B463AF;
	border-radius: 50px;
}

.container-content {
	padding: 0% 10% 0% 10%;
}

.points-value {
	margin-top: 1em;
	text-align: center;
}

.content-label {
	font-weight: 700;
	text-shadow: 0px 0px 10px #FFFFFF;
}

.content-value {
	font-weight: 400;
}

.delete {
	width: 1em;
	color: red;
	text-align: center;
}
.delete::after {
	content: "✗";
}
.delete:hover {
	cursor: pointer;
}

.confirm {
	width: 1em;
	color: green;
	text-align: center;
}
.confirm::after {
	content: "✔";
}
.confirm:hover {
	cursor: pointer;
}

.invis-table, .invis-table tr th, .invis-table tr td {
	border: 0px solid black;
	border-collapse: collapse;
}

.table-header {
	background-color: #DB8DD7;
	border: none;
}

.edit-icon {
	content: url("/static/svg/edit-white.svg");
	height: 1em;
}
.edit-icon:hover {
	cursor: pointer;
}

.nobutton {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.nodecor {
	text-decoration: none;
}

.hovercursor:hover {
	cursor: pointer;
}

.event-completed {
	color: #5D4468;
	background: linear-gradient(151.53deg, #37263F 15.89%, #3C2944 82.42%);
}

.event-completed a {
	color: #666;
}

.event-happening{
	background: linear-gradient(151.53deg, #35E05B 15.89%, #238573 82.42%);
	box-shadow: 0px 0px 15px rgba(1, 179, 68, 0.7);
}

.event-happening a {
	color: #99EDC3;
}

.mono {
	font-family: monospace;
}

.located {
	background-color: #98BF64;
}

#login-image {
	width: 50vh;
}

#login-title {
	color: white;
	font-family: 'Unbounded', sans-serif;
	text-shadow: 0px 0px 10px #FFFFFF;
}

#uid {
	padding: 0.5em;
	background: linear-gradient(146.65deg, #3B264A 3.81%, #463156 107.59%);
	border-radius: 20px;
	border-style: none;

	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 700;
	font-size: larger;

	color: white;
	text-align: center;
}

#uid::placeholder {
	color: #8E74A0;
}

#login-button {
	margin-top: 10px;
	padding: 0.7em;
	
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 700;
	text-align: center;

	color: #FFFFFF;
	background: linear-gradient(102.34deg, #FFBB95 -7.05%, #D363DF 108.5%);
	box-shadow: 0px 0px 15px rgba(189, 129, 198, 0.7);
	border-radius: 20px;
	border-style: none;
}

#logout-button {
	text-align: center;

	
	font-style: italic;
	font-weight: 700;

	color: #664E7A;
}

#card-title {
	padding: 4vh 0vw 4vh 0vw;
	border-radius: 50px 50px 0px 0px;

	font-family: 'Unbounded', sans-serif;
	font-style: normal;
	font-weight: 500;

	text-align: center;
	background: linear-gradient(91.54deg, #FFC582 -8.62%, #E9677E 61.45%, #A263C0 104.75%);
	color: white;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);

}

#info-points {
	margin: auto;
	font-size: 10em;

	font-family: 'Alfa Slab One', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1em;

	text-align: center;
	color: white;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

#entry-code {
	padding: 1em;

	width: 95%;
	background: linear-gradient(146.65deg, #3B264A 3.81%, #463156 107.59%);
	border-radius: 20px;
	border-style: none;

	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 700;
	font-size: larger;

	color: white;
	text-align: center;
}

#entry-code:focus {
	outline: none;
}

#entry-code::placeholder {
	color: #8E74A0;
}

#code-submit-button {
	margin-top: 1em;
	padding: 1em;
	width: 100%;
	
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 700;
	font-size: larger;
	text-align: center;

	color: #FFFFFF;
	background: linear-gradient(102.34deg, #FFBB95 -7.05%, #D363DF 108.5%);
	box-shadow: 0px 0px 15px rgba(189, 129, 198, 0.7);
	border-radius: 20px;
	border-style: none;
}

#announcements-list {
	margin-bottom: 10px;;
	padding: 0.5em 1.5em;
	background: rgba(219, 141, 215, 0.2);
	border-radius: 10px;
}

#announcements-expand-toggle:hover {
	cursor: pointer;
}

#events-expand-toggle:hover {
	cursor: pointer;
}

#event-table {
	border: none;
	background: linear-gradient(151.53deg, #CBC2E3 15.89%, #D2BADB 82.42%);
}

#event-page h1, #event-page h2, #event-page h3 {
	display: inline;
	padding-right: 0.5em;
}

#badge-expand-toggle:hover {
	cursor: pointer;
}

@media (max-width: 991px) {
	body {
		margin: 5% 10% 10% 10%;
	}
}