<!DOCTYPE html>
<html>

{% set pageTitle = "Badger" %}{% include "includes/header.html" %}

<body>

	<a class="nodecor" href="/logout">&#8592; Logout</a>
	<h1>Badger</h1>

	<div>
		<h3>Account Info</h3>
		<table class="invis-table">
			<tr>
				<td>UID</td>
				<td><b id="info-uid"></b></td>
			</tr>
			<tr>
				<td style="height: 1.5em">Name</td>
				<td>
					<div id="name-container">
						<b id="info-name"></b>
						<img class="edit-icon" id="edit-name" style="margin-left: 2em"/>
					</div>
					<div id="name-edit-container" hidden>
						<form id="name-edit-form">
							<input type="text" id="entry-name" name="entry-name" style="margin-right: 1em">
							<button type="submit" class="confirm nobutton"></button>
							<span class="delete" id="name-edit-cancel"></span>
						</form>
					</div>
				</td>
			</tr>
			<tr>
				<td style="height: 1.5em">Email</td>
				<td>
					<div id="email-container">
						<b id="info-email"></b>
						<img class="edit-icon" id="edit-email" style="margin-left: 2em"/>
					</div>
					<div id="email-edit-container" hidden>
						<form id="email-edit-form">
							<input type="text" id="entry-email" name="entry-email" style="margin-right: 1em">
							<button type="submit" class="confirm nobutton"></button>
							<span class="delete" id="email-edit-cancel"></span>
						</form>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div>
		<h3>Announcements</h3>
		<div id="announcements-list"></div>
		<a id="announcements-expand-toggle">Expand</a>
	</div>

	<div>
		<h3>Events</h3>
		<table id="event-table" style="width: 100%"></table>
		<br>
		<a id="events-expand-toggle">Expand</a>
	</div>

	<div>
		<h3>Badge Info</h3>
		<p>You have <span id="info-points">0</span> points.</p>
		<b>Submit a Code</b>
		<form id="code-submit-form">
			<input type="text" id="entry-code" name="entry-code" style="margin-right: 1em">
			<input type="submit" value="Submit">
		</form>
		<div id="badge-breakdown-container" hidden>
			<p>Breakdown:</p>
			<ul id="badge-breakdown"></ul>
		</div>
		<br>
		<a id="badge-expand-toggle">Points Breakdown</a>
	</div>

	<div>
		<h3>Stamp Card</h3>
		<p>Stamps will automatically be punched when you scan your card.</p>
		<table class="invis-table" id="stamps"></table>
	</div>

	<div>
		<h3>Rewards</h3>
		<p>Redeem a reward online, then see an organizer to retrieve it.</p>
		<p>✔ = redeemed, not retrieved; ✔✔ = redeemed and retrieved.</p>
		<table id="rewards" style="width: 100%"></table>
	</div>

	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/announcements/common.js"></script>
	<script src="/static/js/events/common.js"></script>
	<script src="/static/js/app/refresh.js"></script>
	<script src="/static/js/app/events.js"></script>
	<script>
		refresh_loop();
	</script>

</body>

</html>
