<!DOCTYPE html>
<html>

<head>
	<title>Badger</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/static/png/favicon.png">
</head>

<body>

	<script src="/static/js/jquery-3.6.0.min.js"></script>

	<a class="nodecor" href="/logout">&#8592; Logout</a>
	<h1>Badger</h1>

	<div id="account-info">
		<h3>Account Info</h3>
		<table class="invis-table">
			<tr>
				<td>Card ID</td>
				<td><b id="cardID"></b></td>
			</tr>
			<tr>
				<td style="height: 1.5em">Name</td>
				<td>
					<div id="name-container">
						<b id="name">{{ current_user.name }}</b>
						<img class="edit-icon" id="edit-name" style="margin-left: 2em"/>
					</div>
					<div id="name-edit-container" hidden>
						<form id="name-edit-form">
							<input type="text" id="name-form" name="name-form" style="margin-right: 1em">
							<button type="submit" class="confirm nobutton"></button>
							<span class="delete" id="name-edit-cancel"></span>
						</form>
					</div>
				</td>
			</tr>
			<tr>
				<td style="height: 1.5em">Email</td>
				<td>
					<div id="email-container">
						<b id="email">{{ current_user.email }}</b>
						<img class="edit-icon" id="edit-email" style="margin-left: 2em"/>
					</div>
					<div id="email-edit-container" hidden>
						<form id="email-edit-form">
							<input type="text" id="email-form" name="email-form" style="margin-right: 1em">
							<button type="submit" class="confirm nobutton"></button>
							<span class="delete" id="email-edit-cancel"></span>
						</form>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div id="announcements">
		<h3>Announcements</h3>
		<div id="announcements-list">
		</div>
		<a id="announcements-expand-toggle">Expand</a>
	</div>

	<div id="events">
		<h3>Events</h3>
		<table id="events-table-data" style="width: 100%">
		</table>
		<br>
		<a id="events-expand-toggle">Expand</a>
	</div>

	<div id="badge-info">
		<h3>Badge Info</h3>
		<p>You have <span id="points">0</span> points.</p>
		<b>Enter a Secret Code</b>
		<form id="code-submit-form">
			<input type="text" id="code" name="code" style="margin-right: 1em">
			<input type="submit" value="Submit">
		</form>
	</div>

	<div id="rewards">
		<h3>Rewards</h3>
		<p>See an organizer to claim your rewards.</p>
	</div>

	<script>
		let v = {{ current_user.cardID }};
		$("#cardID").html(v.toString(16).padStart(8, "0"));
	</script>
	<script src="/static/js/app.js"></script>

</body>

</html>
