<!DOCTYPE html>
<html>

{% set pageTitle = "Badger" %}{% include "includes/header.html" %}

<body>

	<h1 id="login-title">Welcome to HackMerced VIII</h1>

	<img id="login-image" src="../static/png/directions.png">
	<div id="login">
		<h2>Login</h2>
		<p>Please log in using your UID found on the back of your badge as shown in the image. For assistance, please ask an organizer for help.</p>
		<form action="/login" method="POST">
			<label for="uid">UID:</label>
			<input type="text" id="uid" name="uid" placeholder="12345678">
			<input id="login-button" type="submit" value="Log In">
		</form>
		{% if failed %}
			<p style="color: rgb(255, 127, 127)">Login failed. Please try again.</p>
		{% endif %}
	</div>

</body>

</html>
