<!DOCTYPE html>
<html>

{% set pageTitle = "Badger" %}{% include "includes/header.html" %}

<body>

	<center>
		<img src="/static/png/badger.png" style="border: solid black; border-radius: 100%; width: 256px; margin-bottom: 6em;"/>
	</center>

	<h1>Default Badger User Login Page</h1>
	<p>Badger is an open source IoT RFID-based authentication, attendance tracking, notification, and rewards system for small to large scale events. Check the project out on <a href="https://github.com/shawnduong/badger" target="_blank">GitHub</a>.</p>
	<p>This is the default website that comes with Badger. It contains the user login page (this page), the user application panel, the admin login page, and the admin management panel. When deploying Badger for your event, you should change and style these pages. What you are viewing are the placeholders containing code for all the necessary functionalities.</p>
	<p>For more help, please consult the <a href="https://github.com/shawnduong/badger/docs" target="_blank">documentation</a>.</p>

	<div id="login">
		<h1>Login</h1>
		<p>Please log in using your UID found on the back of your badge.</p>
		<form action="/login" method="POST">
			<label for="uid">UID:</label>
			<input type="text" id="uid" name="uid">
			<input type="submit" value="Log In">
		</form>
		{% if failed %}
			<p style="color: red">Login failed. Please try again.</p>
		{% endif %}
	</div>

</body>

</html>
