<!DOCTYPE html>
<html>

<head>
	<title>Badger</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/static/png/favicon.png">
</head>

<body>

	<a class="nodecor" href="/admin/announcements/manage">&#8592; Return to announcement management panel</a>
	<h1>Edit Announcement</h1>

	<div id="announcement-edit-entry">
		<p>Timestamp: <b><span id="timestamp"></span></b></p>
		<form id="announcement-edit-form">
			<label for="announcement-edit-content">Content:</label><br>
			<textarea id="announcement-edit-content" name="announcement-edit-content" rows=4 style="width:100%">{{ contents }}</textarea>
			<button type="button" id="announcement-edit-preview-button">Preview</button>
			<input type="submit" value="Submit">
		</form>
	</div>

	<div id="announcement-edit-preview">
		<p>Preview:</p>
		<span id="announcement-edit-preview-content">
		</span>
	</div>

	<script>let e = {{ timestamp }}; let id = {{ id }}</script>
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/edit-announcement.js"></script>

</body>
