<!DOCTYPE html>
<html>

{% set pageTitle = "Manage Announcements" %}{% include "includes/header.html" %}

<body>

	<a class="nodecor" href="/admin">&#8592; Return to management panel</a>
	<h1>Manage Announcements</h1>

	<a href="/admin/announcements/create">Create a New Announcement</a>
	<h3>All Announcements</h3>
	<table id="announcement-table" style="width: 100%">
		<tr class="table-header">
			<th style="width: 6em">Timestamp</th>
			<th>Contents</th>
			<th style="width: 3em">Actions</th>
		</tr>
	</table>

	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/announcements/common.js"></script>
	<script src="/static/js/announcements/manage.js"></script>

	<script>
		load_announcements();
	</script>

</body>

</html>
