<!DOCTYPE html>
<html>

{% set pageTitle = "Edit Event" %}{% include "includes/header.html" %}

<body>

	<a class="nodecor" href="/admin/events/manage">&#8592; Return to events management panel</a>
	<h1>Edit Event</h1>
	
	<form id="edit-form">
		<label for="title">Title:</label><br>
		<input type="text" id="title" name="title" style="width: 32em" value="{{ title }}"><br><br>
		<label for="author">Author:</label><br>
		<input type="text" id="author" name="author" style="width: 16em" value="{{ author }}"><br><br>
		<label for="location">Location:</label><br>
		<input type="text" id="location" name="location" style="width: 16em" value="{{ room }}"><br><br>
		<label for="start">Start Time:</label><br>
		<input type="datetime-local" id="start" name="start"><br><br>
		<input type="hidden" id="timezone" name="timezone" value="-08:00"> <!-- Default TZ -->
		<label>Length:</label><br>
		<input type="number" min="0" id="duration-hours" name="duration-hours" style="width: 3em" value="{{ hours }}">
		<label for="duration-hours">h</label>
		<input type="number" min="0" max="60" id="duration-minutes" name="duration-minutes" style="width: 3em" value="{{ minutes }}">
		<label for="duration-minutes">m</label><br><br>
		<label for="pts">Points:</label><br>
		<input type="number" min="0" id="pts" name="pts" style="width: 3em" value="{{ points }}"><br><br>
		<label for="weblink">(Optional) External Link:</label><br>
		<input type="text" min="0" id="weblink" name="weblink" style="width: 16em" value="{{ weblink }}"><br><br>
		<label for="description">Description</label><br>
		<textarea id="description" name="description" rows=4 style="width:100%">{{ description }}</textarea><br><br>
		<input type="submit" value="Submit">
	</form>

	<div>
		<p>Table Preview:</p>
		<table style="width: 100%">
			<tr class="table-header">
				<th style="width: 7em">Time</th>
				<th style="width: 4em">Length</th>
				<th style="width: 4em">Location</th>
				<th>Title</th>
				<th style="width: 3em">Info</th>
			</tr>
			<tr>
				<td id="preview-start"></td>
				<td id="preview-length"></td>
				<td id="preview-location"></td>
				<td id="preview-title"></td>
				<td><center><h3><a class="nodecor hovercursor">&gt;&gt;</a></h3></center></td>
			</td>
		</table>
		<br>
		<hr>
		<p>Page Preview:</p>
		<div id="event-page">
			<h1 id="page-title"></h1>
			<h3>by <span id="page-author"></span></h3>
			<h1>|</h1>
			<h3><span id="page-location"></span> @ <span id="page-start"></span></h3>
			<br>
			<p><b>Duration: <span id="page-duration"></span> - Reward: <span id="page-points"></span> points</b></p>
			<span id="page-weblink"></span>
			<p id="page-description"></p>
		</div>
	</div>

	<script>let id = {{ id }};</script>
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/events/common.js"></script>
	<script src="/static/js/events/edit.js"></script>
	<script>
		let t = new Date({{ start }} * 1000);
		let yyyy = t.getFullYear();
		let MM = ("00" + (t.getMonth() + 1)).slice(-2);
		let dd = ("00" + t.getDate()).slice(-2);
		let hh = ("00" + t.getHours()).slice(-2);
		let mm = ("00" + t.getMinutes()).slice(-2);
		$("#start").val(yyyy+"-"+MM+"-"+dd+"T"+hh+":"+mm);
		update_preview_loop();
	</script>

</body>

</html>
